.additional {
  .with-line();
  line-height: 0;

  @media @tablet {
    padding: 0 70px;
  }

  @media @desktop {
    padding: 0 30px;
  }
}

.additional__title {
  margin-bottom: 34px;

  @media @tablet {
    margin-bottom: 56px;
  }
}

.additional__list {
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 34px;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 0;
    margin-bottom: 54px;
  }

  @media @desktop {
    gap: 0;
    justify-content: space-between;
  }
}

.additional__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media @tablet {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      width: 344px;
    }
  }

  @media @desktop {
    min-width: 221px;
    &:nth-child(odd) {
      width: auto;
    }

    &:last-child {
      margin-right: 24px;
    }
  }
}

.additional__box {
  @media @tablet {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  @media @desktop {
    gap: 80px;
  }
}

.additional__button {
  .title(16px, 20px);
  text-transform: uppercase;
  color: @color-white;
  margin-bottom: 20px;

  @media @tablet {
    font-size: 20px;
    line-height: 30px;
    min-width: 282px;
    padding: 11px 45px;
    margin-bottom: 0;
  }

  @media @desktop {
    min-width: 568px;
  }
}

.additional__info {
  line-height: 16px;
  display: block;
  text-align: center;

  @media @tablet {
    font-size: 16px;
  }
}
