.button {
  color: @color-white;
  width: 280px;
  min-height: 40px;
  border: none;
  font-family: @font-title;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: @color-green;
  padding: 11px;

  &:hover {
    background-color: @color-green-dark;
  }

  &:active {
    color: fade(@color-white, 30%);
  }

  @media (min-width: 768px) {
    width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding: 7px;
  }
}
