.catalog__title {
  .title(36px, 36px);
  @media @tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__header {
  padding-top: 28px;
  padding-bottom: 40px;
  border-bottom: 1px solid @color-gray-silver;

  @media @tablet {
    border: none;
    padding-top: 60px;
    padding-bottom: 84px;
  }

  @media @desktop {
    padding-top: 74px;
  }
}
