.content {
  background-image: linear-gradient(
      180deg,
      rgba(104, 183, 56, 0.85) 0,
      rgba(104, 183, 56, 0.85) 302px,
      @color-white 302px,
      @color-white 100%
    ),
    url('../../img/content-background.png');
  background-repeat: no-repeat;
  background-position: top;

  @media @tablet {
    background-image: none;
    justify-content: start;
    align-items: start;
  }

  @media @desktop {
    background: linear-gradient(
        90deg,
        @color-white 0,
        @color-white 50%,
        rgba(104, 183, 56, 0.85) 50%,
        rgba(104, 183, 56, 0.85) 100%
      ),
      url('../../img/content-background-desktop-full.jpg') no-repeat calc(50% + 360px)
        bottom;
    margin-bottom: 86px;
  }
}

.content__wrapper {
  padding-top: 26px;
  padding-bottom: 24px;

  @media @desktop {
    padding-top: 110px;
    padding-bottom: 0;
  }
}

.content__inner {
  position: relative;
  @media @tablet {
    padding: 34px 87px 502px;
  }
  @media @desktop {
    padding: 114px 80px 184px;
  }
}

.content__title {
  .text-white();
  font-family: @font-title;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 24px 0;
  text-align: center;

  @media @tablet {
    color: @color-black;
    max-width: 524px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 44px;
  }

  @media @desktop {
    font-size: 60px;
    line-height: 60px;
    z-index: 2;
    margin: 0 0 38px;
  }
}

.content__description {
  .text-white();
  margin: 0 0 28px 0;
  font-family: @font-title;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @media @tablet {
    color: @color-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0 0 48px 0;
  }

  @media @desktop {
    z-index: 2;
    margin: 0 0 50px 0;
  }
}

.content__img {
  margin: 0 auto 4px;

  @media @tablet {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    z-index: -1;
  }

  @media @desktop {
    position: absolute;
    bottom: 50px;
    left: calc(50% + 114px);
    z-index: 0;
  }
}

.content__button {
  z-index: 1;
  margin: 0 auto;
  display: block;

  @media @tablet {
    margin: 0;
  }
}
