.features {
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media @tablet {
    gap: 30px;
  }

  @media @desktop {
    flex-direction: row;
    gap: 86px;
    margin-bottom: 30px;
  }
}

.features__wrapper {
  position: relative;
  background-color: @color-gray-light;
  padding: 30px 20px 20px 20px;

  @media @tablet {
    display: flex;
    justify-content: space-between;
    padding: 78px 26px 54px 54px;
  }

  @media @desktop {
    padding: 74px 54px 60px 52px;
  }
}

.features__block {
  @media @tablet {
    width: 340px;
  }
  @media @desktop {
    width: 460px;
  }
}

.features__img {
  position: absolute;
  top: 20px;
  left: 20px;

  &--weight {
    top: 24px;
    left: 12px;
  }

  @media @tablet {
    position: static;
    width: 200px;
    height: 211px;
    margin-right: 34px;

    & svg {
      width: 100%;
      height: 100%;
    }

    &--weight {
      margin-right: 0;
      margin-top: 14px;
      width: 268px;
      height: 200px;
    }
  }

  @media @desktop {
    position: absolute;
    top: 36px;
    left: 50px;
    width: 100px;
    height: 106px;
    margin: 0;

    &--weight {
      top: 40px;
      left: 30px;
      width: 134px;
      height: 100px;
    }
  }
}

.features__title {
  .title(24px, 37px);
  text-transform: uppercase;
  padding-left: 72px;
  margin-bottom: 28px;

  @media @tablet {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 26px;
    padding-left: 0;
  }

  @media @desktop {
    padding-left: 160px;
    margin-bottom: 74px;
  }
}

.features__descriptions {
  margin: 0;
  line-height: 18px;
  margin-bottom: 16px;
  border-bottom: 1px solid @color-gray;
  padding-bottom: 24px;
  color: @color-gray-dark;

  @media @tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    border: none;
    padding: 0;
    width: 340px;
  }

  @media @desktop {
    width: 467px;
    margin-bottom: 24px;
  }
}

.features__link {
  .title(16px, 16px);
  position: relative;
  color: @color-black;
  text-transform: uppercase;
  padding: 4px 58px 4px 0;

  &::after {
    content: '';
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: @color-black;
    transition: width 0.3s, right 0.3s;
  }

  &::before {
    content: '';
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 4px solid transparent;
    border-left: 4px solid @color-black;
    z-index: 2;
    transition: right 0.3s;
  }

  &:active::after {
    right: 16px;
    width: 26px;
  }

  &:active::before {
    right: 10px;
  }

  @media @tablet {
    font-size: 20px;
    line-height: 30px;
  }

  @media @desktop {
    &::after {
      right: 14px;
    }

    &::before {
      right: 8px;
    }

    &:hover::after {
      right: 6px;
      width: 26px;
    }

    &:hover::before {
      right: 0;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
