.form__box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &:required::after {
  }

  &:last-child {
    margin-bottom: 24px;
  }
}

.form__input {
  .title(16px, 18px);
  color: @color-gray-dark;
  text-transform: uppercase;
  padding: 10px 20px;
  width: 100%;
  margin-left: 4px;
  border: 1px solid @color-gray-light;
  order: 2;
  outline: none;

  &:hover {
    border-color: @color-gray;
  }

  &:focus-visible {
    border-color: @color-gray-dark;
    color: @color-gray-dark;
  }

  &--error {
    border-color: @color-error;
  }

  &:required + .form__label::after {
    position: absolute;
    content: '*';
    right: 0;
    top: 0;
    color: @color-gray-dark;
  }
}

.form__label {
  position: relative;
  .title(16px, 18px);
  text-transform: uppercase;
  color: @color-gray-dark;
  order: 1;
  padding-right: 8px;
}
