.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 66px;

  @media @tablet {
    align-items: flex-end;
    min-height: 78px;
  }

  @media @desktop {
    position: absolute;
    left: 50%;
    z-index: 2;
    min-height: 110px;
    transform: translateX(-50%);

    &--inner-page {
      position: static;
      transform: none;
    }
  }
}

.header__logo {
  @media @tablet {
    display: none;
  }
}

.header__link {
  @media @desktop {
    .state();
  }
}
