.map {
  background-color: @color-white;
}

.map__address {
  display: flex;
  padding: 28px 20px;

  @media @tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 30px;
  }
}

.map__title {
  .title(16px, 20px);
  width: 50%;
  text-transform: uppercase;

  @media @tablet {
    width: 180px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 21px;
  }

}

.map__description {
  width: 50%;
  margin: 0;
  color: @color-gray-dark;
  line-height: 20px;

  @media @tablet {

    & span {
      display: block;
      margin-top: 12px;
    }
    width: 160px;
    margin-right: 40px;
    font-size: 16px;
    text-align: right;
  }
}

.map__box {
  position: relative;
  min-height: 362px;
  padding: 0;
  background-image: url('../../img/map-mobile.jpg');

  @media @tablet {
    background-image: url('../../img/map-tablet.jpg');
  }
}

.map__mark {
  position: absolute;
  top: 140px;
  left: 134px;
  width: 57px;
  height: 53px;

  @media @tablet {
    top: 146px;
    left: 333px;
    width: 113px;
    height: 106px;
  }
}
