.map {
  background-color: @color-white;
}

.map__inner {
  display: flex;
  padding: 28px 20px;
}

.map__title {
  .title(16px, 20px);
  text-transform: uppercase;
  width: 50%;
}

.map__description {
  line-height: 20px;
  width: 50%;
  margin: 0;
  color: @color-gray-dark;
}

.map__box {
  position: relative;
}

.map__logo {
  position: absolute;
  top: 140px;
  left: 134px;
  width: 57px;
  height: 53px;
  background-image: url('../../img/marker-icon.png');
}
