.program {
  padding-top: 28px;
}

.program__title {
  .title(36px, 36px);
  margin-bottom: 36px;
}

.program__description {
  .title(14px, 18px);
  text-transform: uppercase;
  margin-bottom: 40px;
}
